/* Layout.css */
.layout {
  display: flex;
  flex-direction: column;
}

.main-content {
  margin-left: 220px;
  padding: 2rem 1rem;
  background-color: #f9f9f9;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    padding: 1rem;
  }
}
